
<main class=" padding-desktop mt-10">
    <section class="breadcrumb__area box-plr-75 ">
        <div class="container">
          <div class="row">
            <div class="col-xxl-12">
              <div class="breadcrumb__wrapper">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shop</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>

    
 </main>

  <div class="flex-search_cart">
    
    <div class="">
       <span class="title_cart">
        Liên hệ với chúng tôi
       </span>
       <p class="contact_body">Với mục tiêu mang đến cho Quý khách hàng những trải nghiệm mua sắm tốt nhất, Nguyễn Kim luôn mong muốn được lắng nghe những ý kiến, góp ý từ phía khách hàng. Mọi ý kiến, đóng góp của khách hàng chính là chìa khóa giúp chúng tôi không ngừng cải thiện, nâng cao chất lượng, dịch vụ.

        Để đóng góp ý kiến, bạn vui lòng để lại thông tin: Họ và tên, Số điện Thoại, Email, Ngày mua hàng để được hỗ trợ nhanh nhất.
        
        Chân thành cảm ơn!</p>
    <form [formGroup]="myForm" class="example-form"   (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Nội dung liên hệ</mat-label>
    <textarea formControlName="body" matInput placeholder="Mời bạn bình luận. Vui lòng nhập tiếng việt có dấu"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Tên</mat-label>
    <input formControlName="name" type="text" matInput placeholder="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input formControlName="email" type="text" matInput placeholder="">
<mat-error *ngIf="myForm.get('email')?.errors?.['email']">Email không hợp lệ!</mat-error>


  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Nhập số điện thoại</mat-label>
    <span matPrefix>+84 &nbsp;</span>
    <input formControlName="phone" type="text" matInput placeholder="12356789">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Địa chỉ</mat-label>
    <input formControlName="address" type="text" matInput placeholder="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Chủ đề</mat-label>
    <input formControlName="subject" type="text" matInput placeholder="">
  </mat-form-field>
  <button type="submit" mat-flat-button color="primary">Liên hệ</button>
</form>

    </div>
   <div class="search_cart_img">
    

  
  <ng-template #templateName>
    <img class="" src="https://www.nguyenkim.com/images/utils/tracktrace.jpeg" alt="">
  </ng-template>
   </div>

</div>

 